doctype html
include var 
include mixins
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Seatrips
    body 
        footer 
        p.copy-text © 2016 Cars.com All rights reserved.
