include var
include mixins
doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title SeaTrips
    body
        main 
            .wrapper
                .about#about1
                    .row.flex#about1
                        .column.col-12.col-md-6.col-lg-3.text-start 
                            h3 про нашу компанію
                            p.underH3 Наша компанія пропонує ряд цікавих-розважальних послуг, які принесуть вам ряд вражень!
                            .cta
                                a(href="#").forbut Детальніше
                            p.accept - зверніть увагу, зміна ціни може залежати від курсу долара.
                        .column.col-12.col-md-6.col-lg-3
                            +card-top(cardAbout.Bike)
                        .column.col-12.col-md-6.col-lg-3
                            .star-1
                            +card-top(cardAbout.Island)
                             
                        .column.col-12.col-md-6.col-lg-3
                            .star-1
                            +card-top(cardAbout.Person)
                    .details.d-flex.justify-content-center
                        p.det(href="#") дивитись усі плани
                hr
                .Island.row
                    .column.col-12.col-lg-4
                            picture.pic 
                                source(srcset="img/iland.webp", type="webp")
                                source(srcset="img/iland.jpg", type="jpg")
                                img(src="img/iland.jpg", alt="land")
                    .column.col-12.col-lg-8.col-md-12
                        h4 Дивовижний безлюдний острів, який зводить людей з розуму
                        .row.flex
                            .col-12.col-lg-7.col-md-7
                                p.Mekka Пхукет - курортно-туристична Мекка Таїланду.
                                     
                                    |Білосніжний пісок, і бірюзове море, і мальовничі скелі, а на
                                    |них же, трохи вище - буйна тропічна рослинність. Все це можна побачити на власні очі.
                                .ok
                                    a.forbut.btn.rounded-pill.me-3.cta.text-uppercase.a.forbut(href="#") замовити тур
                                    a.forbut.btn.rounded-pill.cta.text-uppercase(href="#") детальніше
                            .col-12.col-lg-5.col-md-5
                                .card-gray.text-center
                                    p.price 575 грн./день
                                    p.c-999 В дану вартість входить обслуговування персоналу, вечеря і захоплюючі історії.
            .wave
                .wrapper
                    .gap.d-flex.justify-content-between
                        .AboutWave 
                            h5 СПІЙМАЙ ХВИЛЮ 
                                
                                | 
                                i ЖИВИ ЯСКРАВО!
                                
                            p.underH5 Полюбляєш екстрим та пригоди? Тоді тобі точно до нас! Мрієш 
                                
                                | стати на сапборд, але ніяк не міг наважитсь? Наші досвдчені 
                                
                                | інструктори навчать тебе вміло «піймати хвилі» та відчути себе
                                
                                | справжнім сьорфером!
                            .cta
                                a.forbut(href="#") Детальніше
                        .client.justify-content-center.cl-aft.cl-bef.cl-top.cl-bot
                            img(src="img/lapka.png", alt="")
                            p.ads Чудова туристична фірма, що повністю виправдала мої 
                                 
                                | очікування від подорожі. Я був приємно вражений екскурсіями,
                                
                                | що для мене підібрали, працюють спражні професіонали своєї
                                
                                | справи. 
                            p.name-o Олег Набережний
                            p.who клієнт
                            img(src="img/client.png", alt="")
            .wrapper
                .propose(id="discount")
                    p.special-propose Спеціальні пропозиції тижня
                    p.underT Гарячі праозиції, по-швидше обирай і поїхали!
                .row.flex 
                    .column.col-12.col-md-6.col-lg-3
                        
                        +spec-propose(propose.Romantic)
                    .column.col-12.col-md-6.col-lg-3
                        .forznak.znak
                        +spec-propose(propose.VeloTour)
                    .column.col-12.col-md-6.col-lg-3 
                        +spec-propose(propose.ForIsland)
                    .column.col-12.col-md-6.col-lg-3
                        +spec-propose(propose.Surfing) 
                hr 
                .dodatkova
                    .row 
                        .col-12.col-lg-3 
                            h6 додаткова інформація
                        .col-12.col-lg-6
                            .row
                                .col-12.col-sm-6.first 
                                    +info(details.Grafik)
                                .col-12.col-sm-6.second 
                                    +info(second.Eat)
                        .col-sm-6.col-12.offset-lg-0.offset-sm-3.col-lg-3.faq.ann-bef.ann-aft задати питання
                            p.coment Скажіть доброго дня
                                |
                                
                                | нашому консультанту,
                                
                                |і ми з радістю відповімо
                                
                                | на Ваші запитання
                            span.num.tel
                                a(href="tel:380505698511") +38(050)5698511
                            p.ann.right-name Анна Миколаївна
                            p.who консультант
                            img(src="img/anna.png", alt="Менеджер Анна")
        include footer


