-
    var cardAbout = { 
      Bike: {
        src: "img/bike",
        alt: "Подорож на велосипеді",
        title: "Тур на велосипедах",
        price: "335",
        description: "Подорожуючи  на велосипеді, ви поринете в атмосферу мальовничих гір, чарівнмх краєвидів та шалених пригод.",
      }, 
      Island: {
        class:"star",
        src:"img/island",
        alt: "Подорож на острів",
        title: "Екскурсія на острів",
        price: "500",
        description: "Подорож на острів занурить Вас у незабутнні пригоди. Неймовірна краса  у будь-яку пору року.",
      }, 
      Person: {
        class: "star",
        imgClass: "",
        src: "img/person",
        alt: "Персональна пропозиція",
        title: "Особливе замовлення",
        price: "250",
        description: "Обираючи цю подорож, Ви самостійно робите її незабутнбою та не схожою на будь-які інші.",
      },
   }
-

-
    var propose = {
      Romantic:{
        src: "img/romantic",
        alt: "Романтична подорож",
        title: "Романтична подорож на 2",
        description: "Подорож у найромантичніші куточки світу, занурить вас у дивовижні пейзажі природи.",
        price: "2599 грн.",
        but: "Замовити",
      },
       VeloTour: {
        src: "img/velo",
        alt: "Велотур",
        title: "Велотур",
        description: "Бажаєте прокататись з вітерцем, та ще й з критим краєвидом довкола? Тоді швидше замовляй велотур!",
        price: "555 грн.",
        but: "Замовити",
      },
      ForIsland:{
        src:"img/forisland",
        alt:"На острови!",
        title:"На острови!",
        description:"Хочеш зануритись у тишу, місце де не має натовпу, та панує дмка природа? Тоді вперед за пригодами!",
        price:"1559 грн.",
        but:"Замовити",
      },
       Surfing:{
        src: "img/surf",
        alt: "На острови!",
        title: "Катання на сьорфінгу",
        description: "Хочеш зануритись у тишу, місце де не має натовпу, та панує дмка природа? Тоді вперед за пригодами!",
        price: "999 грн.",
        but: "Замовити",
      },
    }
-
-
 var details={
    Grafik:{
        src:"img/file",
        alt:"Графік роботи",
        detTitle:"Графік роботи готелів.xls",
        size:"Розмір файла: 10Mb",
        descrip:"Розклад роботи усіх наших готелів, можете знайти за цим посиланням. Та додатково завантажити  фото.",
        button:"СКАЧАТИ",
    },
 }
-
-
  var second={
     Eat:{
        src:"img/file",
        alt:"Графік роботи",
        detTitle:"Інформація про харчування.xls",
        size:"Розмір файла: 10Mb",
        descrip:"У будь-якому нашому турі включені сніданки. Якщо ж бажаєте замовити додотково, то ознайомтесь.",
        button:"СКАЧАТИ",
    },
 }
-